<footer class="footer py-4">
  <div class="container text-center">
    <!-- Logo -->
    <div class="">
      <img src="./blissfulPastrylogo(1).png" alt="Logo" width="420" class="img-fluid">
    </div>
     

    <!-- Navigation Links -->
    <div class="mb-3">
      <nav>
        <a href="#" class="mx-2">Home</a>
        <a href="#" class="mx-2">About</a>
        <a href="#" class="mx-2">Contact</a>
      </nav>
    </div>

    <!-- Social Media Icons -->
    <div class="social-icons">
      <a href="#" class="mx-2">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="#" class="mx-2">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>
  </div>
</footer>
